*{
  /*outline: 1px solid red;*/
  margin: 0;
  background: #b2c4e4;

  
}
header{
  margin: 0;
  align-items: center;
  width: 100%;
  min-width: 450px;
}
.menu{

  opacity: 0.97;
  margin: 0 auto;
  background: #fff;
  display:flex;
  justify-content: center ;
  border-radius: 0px 0px 60px 60px;
  width: 60%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.contenedor{
  background: transparent;
  margin: 20px 10%;
  padding: 5px;
  
}
a{
  background: transparent;
 text-decoration: none;
 color: rgb(0, 0, 0);
 font-size: 100%; 
 font-weight: 800;
 font-family: 'Libre Baskerville', serif;
}

.console-container {
 
  background: transparent;
  font-family: 'Libre Baskerville', serif;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
  background: transparent;
  display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

p, h1{
  margin: 10px;
  padding: 0;
  font-family:'Libre Baskerville', serif;
  color: #fff;
  background: transparent;
}
h1{
  font-size: 50px;
}
p{
  font-size: 30px;
}
.portada, .container{
  display: flex;
  flex-wrap: wrap;
  
}
.columna{
  width: 50%;
  min-width: 450px;
  height: 500px;
  background: transparent;
  margin: 0 auto;
}
.portada .img, .text{
  margin: 30px auto;
  background: transparent;
  
}
.img{
  width: 350px;
  height: 400px;
  border-radius: 40%;
  overflow: hidden;
}
img{
 height: 100%;
 width: 100%;
 margin: 0 auto;
 background-size: cover;
 background-repeat: no-repeat;
 background: transparent;
 
}
/*---------------MARIPOSA--------------------*/

.mariposa{
  height: 200px;
  width: 350px;
  background: transparent;
  display: flex;
}
.mariposa div{
    transform-origin : 100%;
    animation-name: mariposa;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: transparent;
}
.mariposa div.ala-r{
  transform-origin: 0;
}
.ala-r img{
    transform: scaleX(-1);
}
@keyframes mariposa{
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(40deg);
  }
}

/*---------------MARIPOSA--------------------*/
.container{
  background: transparent;
  margin-top: 20%;
}
div .text{
  width: 55%;
  margin: 0;
}
div .mariposa{
  width: 45%;
  min-width: 170px;
  margin: 0 auto;
}
/*-----------------------Contacto------------------------*/
.contacto{
  display: flex;
  background: #ffb6c1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom,#b2c4e4, #ffb6c1);  
  background: linear-gradient(to bottom, #b2c4e4, #e680bb);
  flex-wrap: wrap;

}
.contacto .form, .contacto form, .form div, .form input, label{
  background: transparent;
}
.contacto .columna.w{
  background-color: #fff;
}
.contacto .form form{
  width: 90%;
  min-width: 250px;
  display: block;
  text-align: center;
  margin: 10% auto;
  padding: 5%;
  font-family:'Libre Baskerville', serif;
  font-size: 17px;
  color:#fff;
  outline: 0px;
}
.contacto .form input{
  display: block;
  margin: 5px auto;
  border-style:  2px solid;
  border-color: transparent transparent #fff transparent;
  outline: 0px;
  
}
.contacto .button input{
  margin-top: 30px;
  opacity: 0.8;
  background: #606061fc;
  min-width: 100px;
  min-height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family:'Libre Baskerville', serif;
}
/*--------------Boton wsp---------------------------------*/
.btn-wsp{
	position: fixed;
	width: 50px;
	height: 50px;
	line-height: 55px;
	bottom: 30px;
	right: 30px;
	text-align:center;
	background: rgb(18, 205, 18);
	color: #fff;
	border-radius: 50px;
	font-size: 30px;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
	z-index: 1000;
  padding: 0;	
  overflow: hidden;
}
.btn-wsp:hover{
text-decoration: none;
background: #606061fc;
z-index: 1000;
}





