*{
  margin: 0;
  background: #b2c4e4;
}
header{
  margin: 0;
  align-items: center;
  width: 100%;
  min-width: 450px;
}
.menu{
  margin: 0 auto;
  background: #fff;
  display:flex;
  justify-content: center ;
  border-radius: 0px 0px 60px 60px;
  width: 60%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap; 
}
.contenedor{
  background: #fff;
  box-shadow: 0.3em 0.3em 1em #f3efef;
  margin: 20px 10%;
  padding: 5px;
  border-radius: 20px;
  
}
.contenedor:hover{
  background: #fff;
  box-shadow: 0.3em 0.3em 1em #f18fd5fc;
  transition: 1s;
}

a{
  background: transparent;
 text-decoration: none;
 color: rgb(0, 0, 0);
 font-size: 100%; 
 font-weight: 800;
 font-family: 'Libre Baskerville', serif;
}
p, h1{
  margin: 10px;
  padding: 0 10%;
  font-family:'Libre Baskerville', serif;
  color: #fff;
  background: transparent;
}
h1{
  font-size: 50px;
}
p{
  font-size: 30px;
}
.portada, .container{
  display: flex;
  flex-wrap: wrap;
  
}
.columna{
  width: 50%;
  min-width: 450px;
  height: auto;
  background: transparent;
  margin: 0 auto;
}
.portada .img, .text{
  margin: 30px auto;
  background: transparent;
  
}
.img{
  width: 350px;
  height: 400px;
  border-radius: 40%;
  overflow: hidden;
}
img{
 height: 100%;
 width: 100%;
 margin: 0 auto;
 background-size: cover;
 background-repeat: no-repeat;
 background: transparent;
 
}
/*---------------MARIPOSA--------------------*/

.mariposa{
  height: 200px;
  width: 350px;
  background: transparent;
  display: flex;
}
.mariposa div{
    transform-origin : 100%;
    animation-name: mariposa;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: transparent;
}
.mariposa div.ala-r{
  transform-origin:0;
}
.ala-r img{
    transform: scaleX(-1);
}
@keyframes mariposa{
  from{
    transform: rotateY(0deg);
  }
  to{
    transform: rotateY(40deg);
  }
}

/*---------------MARIPOSA--------------------*/
.container{
  background: transparent;
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
div .mariposa{
  width: 70%;
  min-width: 150px;
  margin: 0 auto;
}
div .mariposa.p{
  width: 70px;
  height: 70px;
 }
.mariposa.p.dist,  .mariposa.dist{
  transform: rotate(-20deg);
}
#mari{
  display: flex;
}
.mariposa.p.dist div{
    animation-name: mariposaDist;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: transparent;
    
}

@keyframes mariposaDist{
  from{
    transform: rotateY(15deg);
  }
  to{
    transform: rotateY(40deg);
  }
}
/* Media query para dispositivos móviles */
@media only screen and (max-width: 1000px) {
  #mariMobile {
    display: none; /* Ocultamos el elemento en dispositivos móviles */
  }
}
/*---------------MARIPOSA--------------------*/
.container.colum{
  width: 30%;
  min-width: 200px;
  max-width: 300px;
}
.container.colum.text{
  margin: 0 auto;
}
/*-----------------------Contacto------------------------*/
.contacto{
  display: flex;
  background: #ffb6c1;
  background: -webkit-linear-gradient(to bottom,#b2c4e4, #ffb6c1);  
  background: linear-gradient(to bottom, #b2c4e4, #e680bb);
  flex-wrap: wrap;
}
.contacto .form, .contacto form, .form div, .form input, label{
  background: transparent;
  padding: 5px;
}
.contacto .form form{
  width: 60%;
  min-width: 250px;
  display: block;
  text-align: center;
  margin: 10% auto;
  padding: 5%;
  font-family:'Libre Baskerville', serif;
  font-size: 17px;
  color:#fff;
  outline: 0px;
  background: #958f93fc;
  opacity: 0.8;
  border-radius: 30px;
  box-shadow: 0.3em 0.3em 1em #f3efefcc,
              0.3em 0.3em 1em #f097d7fc;
}
.contacto .form input{
  display: block;
  margin: 5px auto;
  border-style:  2px solid;
  border-color: transparent transparent #fff transparent;
  outline: 0px;
  
}
button{

  background: #3e3e3efc;
  border-radius: 10px;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family:'Libre Baskerville', serif;
}

/*--------------Boton wsp---------------------------------*/
.btn-wsp{
	position: fixed;
	width: 70px;
	height: 70px;
	line-height: 55px;
	bottom: 30px;
	right: 30px;
	text-align:center;
	background: rgb(18, 205, 18);
	color: #fff;
	border-radius: 50px;
	font-size: 30px;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
	z-index: 1000;
  padding: 10px;	
  overflow: hidden;
}
.btn-wsp:hover{
text-decoration: none;
background: #606061fc;
z-index: 1000;
}
/*-------------Boton de wsp------------------*/
.contacto svg{
  width: 50px;
  height: 50px;
  background: transparent;
}
.contacto .icon, .contacto .iconos{
  background: transparent;
}
.contacto .iconos{
  display: flex;
}
.contacto .iconos div{
  margin: 30px auto;
}

/*-----------PROYECTOS-----------*/
.proyectos{
  background: #fff;
  display: flex;
  flex-wrap: wrap;
}
.proyecto{
  background: linear-gradient(to right,#e680bb, #ffb6c1, #b2c4e4);
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  height: auto;
  overflow: hidden;
  font-family:'Libre Baskerville', serif;
  border-radius: 10px;
}
.proyecto img{
  height: 60%;
  border-radius: 10px;
}
.proyecto p{
  font-size: 1em;
  color: black;
  margin:5px 0px;
  padding: 0;
}
/*------------SOBRE MI */
.content{
  position: relative;
}
.sobreMi{
  background: #fff;
  display: flex;
  flex-wrap: wrap;

}
.columnaL, .columnaD{
  margin: 0;
  background: white;
}
.columnaL p{
 min-width: 300px;
 margin: 5px auto;
 padding:10px;
 width: 70%;
 background: #ffffff;
 text-align: left;
 color: black;
 font-family: 'Libre Baskerville', serif;
 font-size: 18px;
}
.columnaL .titulo{
  font-family: 'Agdasima', sans-serif;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
  text-align: left;
  width: 70%;
  color: #000000; 
  border-color: black;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}
.columnaL{
  width: 70%;
}
.columnaL .conteText{
  background: white;
  margin: 10%;
}
.columnaD{
  width:30%;
  overflow: hidden;
  min-width: 300px;
  background: url(img/Portafolio.png);
  background-size: cover;
  background-repeat: no-repeat;
  height:400px;
  border-radius: 0px 0px 0px 50px;
}
.sobreMi::before{
  opacity: 0.3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  z-index: 100;
  background: linear-gradient(45deg,
  #ffffff,#b2c4e4, #ffb6c1, #eb1aeb,
  #ffffff,#9cbdf6, #fc37aa, #fff
  );
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px);
  animation: glowing 20s linear infinite;
 }
 
 @keyframes glowing {
   0%{
     background-position: 0 0;
   }
   50%{
     background-position: 400% 0;
   }
   100%{
     background-position: 0 0;
   }
 }
.footer{
  display: flex;
  background: #fff;
  overflow: hidden;
  flex-wrap: wrap;

}
.uno, .dos, .tres{
  margin: 5px auto;
 background: #fff;
 min-width: 300px;
}
.footer ul, .footer li{
  background: #fff;
  list-style: none;
  margin: 10px;
}
.footer .uno li, .footer .dos li, .footer .tres li{
  font-family: 'Agdasima', sans-serif;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  font-weight: bolder;
  color: #000000; 
  border-color: #b2c4e4;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}
.footer .uno .titulo,
 .footer .dos .titulo,
  .footer .tres .titulo{
    background: #b2c4e4;
    border-radius: 20px;
    color: #fff;
  }


  .tittleSkill{
    color: #fff;
    text-align: center;
    font-size: 5em;
    border-style: solid;
    border-color: #fff;
    border-width: 0px 0px 2px 0px;
    margin: 20px 25%;
   }
   
   .circle {
     margin: 10% auto;
     width: 350px;
     height: 350px;
     border-radius: 50%;
     border: solid 3px #fff;
     background-color: transparent;
     position: relative;
     animation: rotate 25s linear infinite;
     box-shadow: inset -1px -1px 20px 1em #dbd9da, 
                       -1px -1px 20px 1em #dbd9da;
   
   }
   
   .icon {
     width: 100px;
     height: 100px;
     background-color: #e74c3c;
     border-radius: 50%;
     position: absolute;
     transform-origin: center center;
     
   }
   
   .icon.html {
     background: center / contain no-repeat url('img/HTML-Icono.png');
     transform: rotate(0deg);
     top: 85%;
     left: 50%;
     margin-left: -20px;
     transform-origin: center;
     animation: Norotate 25s linear infinite;
    
   }
   
   .icon.css {
     background: center / contain no-repeat url('img/Css-Icono.png');
     transform: rotate(0deg);
     top: 60%;
     right: 80%;
     margin-left: -20px;
     margin-top: -20px;
     transform-origin: center;
     animation: Norotate 25s linear infinite;
   }
   
   .icon.js {
     background: center / contain no-repeat url('img/JS-Icono.png');
     transform: rotate(0deg);
     top: 60%;
     left: 90%;
     margin-left: -20px;
     margin-top: -20px;
     transform-origin: center;
     animation: Norotate 25s linear infinite;
   }
   
   .icon.mongo {
     background: center / contain no-repeat url('img/MONGO-Icono.png');
     transform: rotate(0deg);
     right: 0;
     margin-left: -20px;
     margin-top: -20px;
     transform-origin: center;
     animation: Norotate 25s linear infinite;
   }
   
   .icon.rethink {
     background: center / contain no-repeat url('img/RETHINK-Icon.png');
     right: 60%;
     margin-left: -20px;
     margin-top: -20px;
     transform: rotate(0deg);
     transform-origin: center;
     animation: Norotate 25s linear infinite;
     
   }
   
   
   @keyframes rotate {
     0% {
       transform: rotate(0deg);
     }
     50% {
       transform: rotate(360deg);
     }
   }
   
   @keyframes Norotate {
     0% {
       transform: rotate(0);
     }
     50% {
       transform: rotate(-360deg);
     }
   }
   
   
   
   